.text {
  background-color: white;
  margin-top: 10px;
  margin-left: calc(20% + 60px);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  clear: both;
}

.sideleft {
  background-color: white;
  margin: 10px 10px 10px 10px;
  width: 20%;
  padding: 0px 20px;
  font-size: 100%;
  float: left;
  clear: left;
}

.sideleft > * {
  background-color: var(--main-light);
}
